*{
    margin:0;
    padding:0;
    font-family:sans-serif;
    box-sizing:border-box;
    color:#ffffff;
}

.container{
    width:100%;
    min-height:100vh;
     /* background-image:linear-gradient(rgba(192, 219, 255, 0.5),
    rgba(0, 66, 199, 0.5),
    rgba(10, 0, 49, 0.5)),url(poki.jpg); 
    background-color: #5595e2;*/


    background-image:linear-gradient(rgba(110,84,255,0.5),
    rgba(0,0,0, 0.5),
    rgba(40, 49, 0, 0.5)),url(school.webp);
    background-size: cover; 
    background-position: center;
    padding:10px 8%;
}

nav{
    width:80%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    padding:10px 0;
}
.logo{
    width:180px;
    cursor: pointer;
}
nav ul{
    list-style:none;
    width:100%;
    text-align: right;
    padding-right:60px;
}
nav ul li{
    display:inline-block;/*inline-block*/
    margin:10px 20px;
}
nav ul li a{
    color:rgb(7, 0, 57);/*rgb(57,37,0)*/
    text-decoration: none;
}
.btn{
    display:flex;
    align-items:center;
    padding:10px 20px;
    border:0;
    outline:0;
    border-radius:40px;/*5px*/
    background: #b5d6ff;
    color:#000000;
    font-weight:500;
    cursor:pointer;



    text-decoration: none;
}
.btn img{
    width:20px;
    margin-right:10px;
}
.Content{
    margin-top:14%;
    color:black;
    max-width:620px;
}
.Content h1{
   font-size:50px;
   font-weight:700;
   line-height:45px;/*85px*/
   margin-bottom:15px;/*15px*/
   
   
}
.Content form{
    display:flex;
    align-items:center;
    /* background:#4e878c; */
    background: rgb(255, 255, 255);
    border-radius:40px;/*5px*/
    padding:10px;
    margin-top:20px;/*30px*/

    
    
}
.Content form input{
    border:0;
    outline:0;
    width:100%;
    font-size:16px;
    padding-left:20px;

}
.Content form .btn{
    font-size:15px;
    padding:10px 30px;

}